*.pyc
*~
.idea/
misc/
ssm_sigma/
duplicates/
C++/Xvision2/
C++/log/
C++/results/
C++/MTF/
C++/MTF_LIB/
C++/Eigen/
C++/unsupported/
Matlab/plots/
log/
MTF/
ROS/
batch/
build/
matrices/
backup/
Results/
CModules/*.o
CModules/*.so
CModules/*.wo
l1/*.so
l1/*.pyd
l1/*.o
cython_trackers/*.c
cython_trackers/*.so
cython_trackers_old/
*.back
*.zip
*.lnk
*.exe
*.sdf
*.opensdf
*.suo
*.sln
*.vcxproj
*.vcxproj.*
*.o
*.a
*.so
*.pyd
*.mp4
*.avi
*.wmv
*.mkv
C++/
